<div class="h-[728px] flex justify-center items-center">
    <div class="w-[300px] h-[613.6px] bg-blue-300 flex justify-center items-center">
      <img class="w-[200px]" src="https://salt.tikicdn.com/ts/upload/eb/f3/a3/25b2ccba8f33a5157f161b6a50f64a60.png" alt="" />
    </div>
    <div class=" w-[450px] bg-gray-300 ">
    <form class="max-w-sm mx-auto">
      <div class="flex items-start my-4">
        <h2 class="text-2xl font-medium">Đăng nhập</h2>
      </div>
      <div class=" h-[102px] mb-2">
        <label
          htmlFor="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Email
        </label>
        <input
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Mời nhập email hoặc SĐT"

        />
        <!-- <app-show-validate [field]="signinForm.get('email')" key="Email"></app-show-validate> -->
      </div>
      <div class="h-[102px] mb-2">
        <label
          htmlFor="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Password
        </label>
        <input
          type="text"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        
        />

      </div>
      <div class=" h-[102px] mb-2">
        <label
          htmlFor="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
        Confilm Password
        </label>
        <input
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Mời nhập password"

        />
   
        <p class="text-red-600 font-semibold ">
        
            </p>
      </div>
      <button
        type="submit"
        class="bg-red-600 border  text-white text-lg rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        Đăng nhập
      </button>
      <div class="flex items-start mb-5 mt-2">
        <p class="text-sm">Quên mật khẩu</p>
      </div>
      <div class="w-full h-[1px] bg-gray-400 my-4">

      </div>
      <div class="flex justify-center items-center">
        <div class="">
          <i  class="fa-brands fa-facebook fa-2xl"
          style=" color: #0559eb" >         
        </i> 
        </div>
        <div class="">
          <img
            src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
            alt=""
            class="w-[53px]"
          />
        </div>
      </div>
      <div class="text-center " > 
        <p class="text-sm text-gray-400 py-4">
          Bạn mới biết đến shop?<a href="" class="text-red-500">Đăng ký</a>
        </p>
      </div>
    </form>
    </div>
  </div>
