<div class="h-[728px] flex justify-around items-center">
    <div class="w-[600px] h-[503.6px] flex justify-center items-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Shopee.svg/1200px-Shopee.svg.png" alt="">
    </div>
    <div class=" w-[450px] bg-gray-300 ">
    <form class="max-w-sm mx-auto">
      <div class="flex items-start my-4">
        <h2 class="text-2xl font-medium">Đăng ký</h2>
      </div>
      <div class=" h-[102px] mb-2">
        <label
          htmlFor="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Tên tài khoản
        </label>
        <input
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Mời nhập email hoặc SĐT"
            
        />
      
        <p class="text-red-600 font-semibold my-2 ">
        
        </p>
      </div>
      <div class=" h-[102px] mb-2">
        <label
          htmlFor="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Email
        </label>
        <input
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Mời nhập email hoặc SĐT"
             formControlName="email"
        />

       
      </div>
      <div class="h-[102px] mb-2">
        <label
          htmlFor="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Password
        </label>
        <input
          type="text"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
             formControlName="password"
        />
   
       
      </div>
      <div class=" h-[102px] mb-2">
        <label
          htmlFor="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
        Confilm Password
        </label>
        <input
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Mời nhập password"
 
        />
     
      </div>
      <p class="text-red-600 font-semibold my-2 ">
 
        </p>
      <button
        type="submit"
        class="bg-red-600 border  text-white text-lg rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        Đăng nhập
      </button>
      <div class="flex items-start mb-5 mt-2">
        <p class="text-sm">Quên mật khẩu</p>
      </div>
      <div class="w-full h-[1px] bg-gray-400 my-4">

      </div>
      <div class="flex justify-center items-center">
        <div class="">
          <i  class="fa-brands fa-facebook fa-2xl"
          style=" color: #0559eb" >         
        </i> 
        </div>
        <div class="">
          <img
            src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
            alt=""
            class="w-[53px]"
          />
        </div>
      </div>
      <div class="text-center " > 
        <p class="text-sm text-gray-400 py-4">
          Bạn mới biết đến shop?<a href="" class="text-red-500">Đăng ký</a>
        </p>
      </div>
    </form>
    </div>
  </div>
