<div
  class="bg-white flex flex-col items-center h-[681px] w-[250px] m-4 rounded-2xl fixed"
>
  <div class="">
    <div class="text-5xl m-[50px]">
      <i
        class="fa-brands fa-angular fa-2xl"
        style="color: #d40c0c; font-size: 100px"
      ></i>
    </div>
    <div class="text-center ">
      <h2 class="">Admin</h2>
    </div>
  </div>
  <div class="w-[200px] bg-black h-[1px] my-[20px]"></div>
  <div class="">
    <ul class="p-0">
      <li
        class="py-[11px] px-[35px] hover:bg-gray-400 w-[248px] h-[50px] rounded-xl text-left"
      >
        <i class="fa-brands fa-product-hunt mx-3"></i>
        <a routerLink="product" class="no-underline hover:no-underline font-medium text-base"
          >Products</a
        >
      </li>
      <li
        class="py-[11px] px-[35px] hover:bg-gray-400 w-[248px] h-[50px] rounded-xl text-left"
      >
        <i class="fa-solid fa-layer-group mx-3"></i>
        <a routerLink="categories" class="no-underline hover:no-underline font-medium text-base"
          >Category</a
        >
      </li>
      <li
        class="py-[11px] px-[35px] hover:bg-gray-400 w-[248px] h-[50px] rounded-xl text-left"
      >
        <i class="fa-solid fa-user mx-3"></i>
        <a href="" class="no-underline hover:no-underline font-medium text-base"
          >Users</a
        >
      </li>
      <li
        class="py-[11px] px-[35px] hover:bg-gray-400 w-[248px] h-[50px] rounded-xl text-left"
      >
        <i class="fa-solid fa-gear mx-3"></i>
        <a href="" class="no-underline hover:no-underline font-medium text-base"
          >Setting</a
        >
      </li>
      <li
        class="py-[11px] px-[35px] hover:bg-gray-400 w-[248px] h-[50px] rounded-xl text-left"
      >
        <i class="fa-solid fa-share-from-square mx-3"></i>
        <a href="" class="no-underline hover:no-underline font-medium text-base"
          >Back Home</a
        >
      </li>
    </ul>
  </div>
</div>
